*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color:cornsilk;
    outline: none;
}
.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator{
    background-color: coral;
    padding: 15px;
    border-radius: 30px;
    display: grid;
    grid-template-columns: repeat(4,150px);
}
input{
    grid-column: span 4;
    height: 50px;
    width: 230px;
    background-color: darkgoldenrod;
    border-radius: 30px;
    color: black;
    font-size: 50px;
    text-align: end;
    
    
    

}
button{
    height: 50px;
    width: 50px;
    border: none;
    border-radius: 50%;
    margin: 8px;
}
